/**
 * Large file consisting of font sets for use in Tailwind.
 * Thanks to https://fonts.google.com for free fonts!
 */

@font-face {
    font-family: "Rubik";
    src: url("/src/res/fonts/Rubik/v2.4.2/static/Rubik-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}