/**
 * Copyright © 2019-2025 Braden (https://github.com/brdnwd)
 * 
 * Website: https://brdnwd.github.io
 * Built: 2025-04-04T00:00Z
 */

@import url("/src/res/ui/fontSets.css");
/*===================================================*/


::selection {
    background: #9ff0f3ca;
    color: black;
}
/*===================================================*/


::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}
/*===================================================*/